config zerotier
    # 开关
    option zt_enabled 0

    # 配置模式
    # init -- UCI 配置只用于初始化
    # rewrite -- 每次启动都使用 UCI 配置覆盖文件（会删除原始目录）
    option config_mode 'init'
    
    # Planet 初始化模式
    # default -- 使用编译内置的 planet 信息
    # url -- 在启动的时候动态下载
    option planet_init_mode 'default'
    option planet_init_url ''

    # local.conf 配置
    # 如果 local_conf 配置为 true 则用 local_conf_content 覆盖目录下的 local.conf 文件
    option lcoal_conf 0
    option local_conf_content '{"settings": {"interfacePrefixBlacklist": [ "docker" ]}}'

    # 端口号, 0 或不设定则使用动态端口
    # option port 9993

    # 用于 zerotier 的密钥，自带地址信息与证书，留空会自动生成
    # option secret ''

    # ZeroTier HTTP 接口访问用的 token, 留空会自动生成
    # option authtoken ''

    # moon 节点动态添加
    # list orbit "<world-id> <seed>"

    # 网络动态添加
    # list join "<network-id>"

# 网络配置信息
config network
    # 网络是否可用
    option network_enabled 1

    # 网络 ID
    option id '8056c2e21c000001'

    # 定义接口名字
    option ifname 'zt0'

    # 是否开启 NAT 模式, 会影响防火墙行为
    option nat 1

    # 以下参数写入到 <config-root>/networks.d/<network-id>.local.conf 配置文件
    option allow_managed 1
    option allow_global 0
    option allow_default 0
    option allow_dns 0